@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Oxygen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

$font-family-Nunito: "Nunito", sans-serif;
$font-family-Oxygen: "Oxygen", sans-serif;
$font-family-Montserrat: "Montserrat", sans-serif;
